.h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #28283D;
  font-size: 40px;
  line-height: 44px;
}

.h2,
.h3 {
  font-size: 32px;
  line-height: 36px;
}

.h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #28283D;
}

.h3 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FAFAFA;
}

.overline {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #4D96A9;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.body1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  font-size: 16px;
}

.body2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #FAFAFA;
  font-size: 18px;
}

.section-num {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-num .line {
  width: 1px;
  height: 84px;
  mix-blend-mode: normal;
  opacity: 0.25;
  background-color: #87879D;
}
.section-num .number {
  width: 56px;
  height: 56px;
  background-color: #FAFAFA;
  border: 1px solid #87879d40;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #87879D;
  font-size: 16px;
  line-height: 26px;
}

/*
 * GLOBAL VARIABLES
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}
body picture {
  height: max-content;
  display: flex;
}
body a {
  text-decoration: none;
}

header {
  padding: 48px 0 54px;
  display: flex;
  justify-content: center;
}
header a {
  display: flex;
}

main {
  overflow: hidden;
}
main .intro {
  margin-bottom: 64px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .features {
  margin-bottom: 64px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
main .experience {
  position: relative;
}

.intro .title {
  margin-top: 48px;
}
.intro .caption {
  margin-top: 24px;
}
.intro .buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.intro .buttons .big {
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #4D96A9;
}
.intro .buttons .big span {
  margin-left: 4px;
  color: #8FE3F9;
}
@media (hover: hover) and (pointer: fine) {
  .intro .buttons .big {
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  .intro .buttons .big:hover {
    background-color: #71C0D4;
  }
}
.intro .buttons .small {
  padding: 16px 29px;
  border-radius: 29px;
  border: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #855FB1;
}
.intro .buttons .small span {
  margin-left: 4px;
  color: #D9B8FF;
}
@media (hover: hover) and (pointer: fine) {
  .intro .buttons .small {
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  .intro .buttons .small:hover {
    background-color: #B18BDD;
  }
}

.features .img-container {
  display: grid;
  grid-template-columns: repeat(2, 151px);
  align-items: center;
  justify-content: center;
  gap: 24px 25px;
}
.features .img-container img {
  border-radius: 8px;
}
.features .inner-text-container .title {
  margin-top: 24px;
}
.features .inner-text-container .caption {
  margin-top: 32px;
}

.experience .inner-text-container {
  margin-top: -28px;
  padding: 92px 24px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.experience .inner-text-container .footer-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}
.experience .inner-text-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #4D96A9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.experience .inner-text-container .title {
  color: #FAFAFA;
}
.experience .inner-text-container .caption {
  margin-top: 24px;
}
.experience .inner-text-container button {
  margin-top: 32px;
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #855FB1;
}
.experience .inner-text-container button span {
  margin-left: 4px;
  color: #D9B8FF;
}
@media (hover: hover) and (pointer: fine) {
  .experience .inner-text-container button {
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  .experience .inner-text-container button:hover {
    background-color: #B18BDD;
  }
}

.attribution {
  margin: 30px 0;
  padding: 10px 12px;
  width: 100%;
  background-color: #4D96A9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
}
.attribution p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.16px;
  color: #FFFFFF;
}
.attribution p a {
  color: #8FE3F9;
}

@media only screen and (min-width: 648px) {
  .attribution {
    border-radius: 0 29px 29px 0;
    width: max-content;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .h2,
.h3 {
    font-size: 40px;
    line-height: 44px;
  }

  .features .img-container {
    gap: 11px;
    grid-template-columns: repeat(4, 164px);
  }

  header {
    padding-bottom: 64px;
  }

  main .intro {
    margin-bottom: 80px;
  }
  main .features {
    margin-bottom: 80px;
    gap: 0;
  }

  .intro .title {
    margin-top: 72px;
  }
  .intro .caption {
    max-inline-size: 457px;
  }
  .intro .buttons {
    flex-direction: row;
  }

  .features .img-container {
    margin-top: 67px;
  }
  .features .inner-text-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .inner-text-container .title {
    margin-top: 16px;
  }
  .features .inner-text-container .caption {
    max-inline-size: 573px;
  }

  .experience .inner-text-container {
    padding: 92px 0 66px;
  }
  .experience .inner-text-container .caption {
    margin-top: 32px;
    max-inline-size: 573px;
  }
  .experience .inner-text-container button {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .h1 {
    font-size: 64px;
    line-height: 64px;
  }

  .body1 {
    font-size: 18px;
  }

  header {
    padding: 80px 0 61px;
  }

  main .intro {
    margin-bottom: 110px;
    position: relative;
  }
  main .features {
    margin-bottom: 72px;
  }

  .intro .bg-hero-img {
    display: none;
  }
  .intro .bg-hero {
    position: absolute;
  }
  .intro .left {
    top: 0;
    left: -32px;
  }
  .intro .right {
    right: -32px;
    bottom: 0;
  }
  .intro .title {
    margin-top: 47px;
  }
  .intro .caption {
    margin-top: 34px;
    max-inline-size: 540px;
  }
  .intro .buttons {
    margin-bottom: 7px;
  }

  .features .img-container {
    margin-top: 64px;
    grid-template-columns: repeat(4, 255px);
    gap: 30px;
  }
  .features .inner-text-container {
    margin-top: 80px;
  }

  .experience .inner-text-container {
    padding: 116px 0 104px;
    flex-direction: row;
    justify-content: center;
  }
  .experience .inner-text-container .title {
    text-align: left;
  }
  .experience .inner-text-container .caption {
    margin-top: 0;
    margin-left: 125px;
    max-inline-size: 350px;
    text-align: left;
  }
  .experience .inner-text-container button {
    margin-top: 0;
    margin-left: 92px;
  }

  .attribution p a {
    font-size: 18px;
    letter-spacing: -0.18px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .attribution p a {
    cursor: pointer;
    transition: color 0.5s ease-out;
  }
  .attribution p a:hover {
    color: #71C0D4;
  }
}